Source: bbbs-equivs
Section: contrib/comm
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://www.bbbs.net 

Package: bbbs
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: zip, unzip                                                                                                                        
Suggests: arc, arj, unrar-free, unzoo, zoo, lha                                                                                        
Provides: httpd, ftp-server, mail-transport-agent, pop3-server, telnet-server
Description: BBBS v4.01 Flag equivs
 BBBS v4.01 Flag. Complete BBS package with
 WWW/InterNet/modem/ISDN/LAN based access
 modes. Everything you need to run a BBS!
 This package is for when you have manually
 installed BBBS and would like to make it 
 like a standard Debian installed package.
 