Source: bbbs-installer
Section: contrib/comm
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.org>
Build-Depends: debhelper (>= 5)
Depends: adduser
Standards-Version: 3.7.2
Homepage: http://rocasa.org/bbbsdeb 

Package: bbbs-installer
Architecture: i386
Pre-Depends: wget 
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: zip, unzip                                                                                                                        
Suggests: arc, arj, unrar-free, unzoo, zoo, lha                                                                                        
Provides: httpd, ftp-server, pop3-server, telnet-server
Description: BBBS v4.01 Flag Installer
 BBBS v4.01 Flag. Complete BBS package with
 WWW/InterNet/modem/ISDN/LAN based access
 modes. Everything you need to run a BBS!
 InterNet, telnet, WWW, FTP, POP3, HTTP, news,
 email, FidoNet, mailer, mail processor, TICK,
 AllFix, gateway, full screen editor, offline,
 Mg, multilingual, CD-ROM, VT320, ANSI, voice,
 multitask, charsets, accounts, Zmodem, HYDRA,
 multinode, Kermit, BZLink, FAX, IRC, and more
 This installer package downloads the archive
 from the www.bbbs.net web site, or uses the
 one in the tmp directory if already present,
 then installs the application to the system.
